<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="dbcs" connectionString="Data Source=SUFIAN-TANZID\SQLEXPRESS;Initial Catalog=LOGIN_INFO;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="Citizen_Finder_Application.Properties.Settings.cmbloginConnectionString"
		 connectionString="Data Source=SUFIAN-TANZID\SQLEXPRESS;Initial Catalog=cmblogin;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="Citizen_Finder_Application.Properties.Settings.LOGIN_INFOConnectionString"
		 connectionString="Data Source=SUFIAN-TANZID\SQLEXPRESS;Initial Catalog=LOGIN_INFO;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>



</configuration>